* {
  padding: 0;
  margin: 0;
  font-size: 100%;
}
body {
  overflow-x: hidden;
}
/*---------------------------------------font family*/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/proximareg/ProximaNova-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/proximabold/ProximaNovaBold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/*---------------------------------------navigation button*/
.first-next-button {
  position: absolute;
  top: 7vh;
  right: 46vw;
}
.second-next-button {
  position: absolute;
  top: -47px;
  left: 17vw;
}
/*  -------------------------------------main container*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .sections {
  width: 100%;
  height: 100%;
}
/*  -------------------------------------header container*/
.main .header {
  background: no-repeat  url("../img/resources/background.png") fixed;
  background-size: cover;
}

.main .header .logo {
  position: absolute;
  top: 6%;
  left: 5%;
}

.main .header .header-description {
  margin: 50% 0;
}


.main .header .header-description h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 56px;
  font-size: 56px;
  font-size: 56px;
  font-size: 3.5rem;
  color: #ffffff;
  letter-spacing: 0;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  text-align:center;
  width: 100%;
  margin: -10% auto 1% auto;
}

.main .header .header-description p {
  font-family: 'ProximaNova-Regular';
  font-size: 24px;
  font-size: 24px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  padding: 0 20px;
  margin: 4% auto 0 auto;
}

/*------------------------------------------------------second-section*/
.main .second-section {
  background: no-repeat url("../img/resources/second-section.png");
  background-size: 100% 100%;
  margin-top: -11.5%;
  padding: 20% 0 12% 0;
  position: relative;
}

.wrap-ss {
  /*display: -webkit-box;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
/*------------------------------------------------------second-section containers*/
.main .second-section .wrap-ss  .ss-container {
  width: 350px;
}

/*------------------------------------------------------second-section description*/
.main .second-section .wrap-ss .ss-description h1 {
  font-family: 'ProximaNova-Bold';
  font-size: 40px;
  font-size: 40px;
  font-size: 40px;
  font-size: 2.5rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 73.5px;
}
.main .second-section .wrap-ss .ss-description .cup-icon {
  font-size: 40px;
  display: block;
  margin: 0 auto 10.5px auto;
}

.main .second-section .wrap-ss .ss-description h3 {
font-family: 'ProximaNova-Bold';
font-size: 24px;
font-size: 24px;
font-size: 24px;
font-size: 1.5rem;
color: #ffffff;
letter-spacing: 0;
text-align: left;
margin-bottom: 20px;
}

.main .second-section .wrap-ss .ss-description p {
  font-family: 'ProximaNova-Regular';
  font-size: 24px;
  font-size: 24px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
}

/*------------------------------------------------------second-section iphone*/
.main .second-section .wrap-ss .ss-phone .iphone-screen{
  width: 267px;
  height: 523px;
  display: block;
  margin: 0 auto;
}

.main .second-section .wrap-ss .ss-phone {
  position: relative;
}

.main .second-section .wrap-ss .ss-phone .screen-1{
  width:   232px;
  height: 407px;
  position: absolute;
  top: 54px;
  left: 57px;
}

.main .second-section .wrap-ss .ss-phone .slider-controls {
  position: absolute;
  width: 85%;
  margin: 8%;
  /*display: -webkit-box;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}

.main .second-section .wrap-ss .ss-description .text-controls-responsive {
  display: none;
}


.main .second-section .wrap-ss .ss-phone .slider-controls div{
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  background: #d8d8d8;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 4px;
}

.main .second-section .wrap-ss .ss-phone .slider-controls div:hover{
  opacity: 0.36;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=36)";
  background: #000000;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-right: 2px;
}

/*------------------------------------------------------second-section application icon*/
.main .second-section .wrap-ss .ss-app-icon {
  /*display: -webkit-box;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .second-section .wrap-ss .ss-app-icon .icons-container img {
  display: block;
  margin: 15px auto 0 auto;
  width: 180px;
  max-width: 100%;
  height: 60px;
}

.main .second-section .wrap-ss .ss-app-icon p {
  font-family:'ProximaNova-Regular';
  font-size: 24px;
  font-size: 24px;
  font-size: 24px;
  font-size:1.5rem;
  color:#ffffff;
  letter-spacing:0;
  text-align:center;
  margin-top: 10px;
}

/*---------------------------------------------------------------third-section*/
.main .third-section {
  background: no-repeat url("../img/resources/third-section.png");
  background-size: cover;
  /*height: 100vh;*/
  position: relative;
}

 .main .third-section .btn-list-container {
  /*display: -webkit-box;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
 }

.main .third-section .ts-title {
  font-family: 'ProximaNova-Bold';
  font-size: 3rem;
  color: #4d7fff;
  letter-spacing: 0;
  text-align: center;
  margin-top: 7%;
}

.main .third-section .button-container {
  margin-left: 5%;
  width: 20%;
  height: 400px;
  /*display: -webkit-box;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
   -ms-flex-align: center;
    align-items: center;
}

.main .third-section .button-container button{
  background: #27c667;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border-radius: 100px;
  width: 350px;
  height: 58px;
  font-family: 'ProximaNova-Bold';
  font-size: 24px;
  font-size: 24px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #ffffff;
  letter-spacing: 0;
  border: none;
}

.main .third-section .list-container {
  width: 60%;
  height: 400px;
  /*display: -webkit-box;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}

.main .third-section .list-container ul {
  list-style: none;
}

.main .third-section .list-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 30px;
}

.main .third-section .list-container ul li p {
  font-family:'ProximaNova-Regular';
  font-size: 19.52px;
  font-size: 1.22rem;
  color: #4d7fff;
  letter-spacing: 0;
  text-align: left;
}

.main .third-section .list-container ul li img {
  width:30px;
  height:30px;
  margin-right: 21px;
}

.main .third-section .list-container ul li:nth-child(3) img{
  width:26px;
  height:26px;
  margin-right: 23px;
  margin-left: 2px;
}

.main .third-section .list-container ul li:nth-child(4) img{
  width:20px;
  height:36px;
  margin-right: 26px;
  margin-left: 5px;
}

.main .third-section .list-container h3 {
  font-family: 'ProximaNova-Bold';
  font-size: 32px;
  font-size: 2rem;
  color: #4d7fff;
  letter-spacing: 0;
  text-align: left;
  margin-top: 50px;
}

.main .third-section .condition-deal {
  font-family: 'ProximaNova-Regular';
  font-size: 16px;
  font-size: 1rem;
  color: #7a7a7a;
  letter-spacing: 0;
  text-align: center;
  padding: 2% 0 6% 0;

}

/*-------------------------------------------------------------------- forthy-section*/
.main .forthy-section {
  background: no-repeat url("../img/resources/forthy-section.png");
  background-size: cover;
  padding: 7% 0 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
    -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .forthy-section .testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;

}

.main .forthy-section .testimonials-container .testimonials {
  width: 350px;
  height: 450px;
  margin: 0 1%;
  /*display: -webkit-box;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;

}

.main .forthy-section .testimonials-container .stars-container {
  display: block;
  margin: 0 auto;
}

.main .forthy-section .testimonials-container .person {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  display: block;
  margin: 30px auto 0 auto;
}

.main .forthy-section .testimonials-container .testimonial-text {
  margin-top: 30px;
  padding: 0 13px;
  font-family: 'ProximaNova-Regular';
  font-size: 20px;
  font-size: 20px;
  font-size: 20px;
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
}

.main .forthy-section .testimonials-container .person-name {
  margin: 19px;
  font-family: 'ProximaNova-Regular';
  font-size: 24px;
  font-size: 24px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: right;
}

.main .forthy-section .shares-container {
  margin-top: 5%;
}

.main .forthy-section .shares-container  h2 {
  font-family: 'ProximaNova-Bold';
  font-size: 38.4px;
  font-size: 38.4px;
  font-size: 2.4rem;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}

.main .forthy-section .shares-container  .share-btns-container {
  margin-top: 27px;
}

.main .forthy-section .shares-container  .share-btns-container button {
  background: #4d7fff;
  border: 2px solid #ffffff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  border-radius: 5px;
  width: 176px;
  height: 37px;
  font-family: 'ProximaNova-Bold';
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  margin: 0 25px;
}

/*---------------------------------------------responsive*/
@media screen and  (min-width: 1250px) and (max-width: 3000px) {
  .main .sections {
    width: 100%;
    height: 100%;
  }
  .main .header {
    height: 100vh;
  }
  .main .header .header-description {
    margin: 50vh 0;
  }
  .main .second-section {
    width: 100%;
    height: 100%;
  }
  .main .third-section .condition-deal {
    padding: 8vh 0 6vh 0;
  }
  .main .forthy-section{
    width: 100%;
    height: 100%;
  }
}



@media screen and  (min-width: 1100px) and  (max-width: 1280px) {
  .main .second-section {
    padding: 23vh 0 12vh 0 !important;
}
}
/*------------------------------------------------------------- ipad and ipad pro responsive*/
@media screen and  (min-width: 750px) and  (max-width: 1280px) {
  /*----------------hide elemetn br for description text in header*/
  .hide {
    display: none;
  }
  .main .header {
    background-position-x: 50%;
    background-size: cover;
  }
  .main .header .header-description {
    margin: 35% 0;
  }
  .main .header .header-description h1 {
    font-size: 3.2rem;
  }
  .main .header .header-description p {
    padding: 0 40px;
  }
  .main .second-section {
    height: 100%;
    padding: 23% 0 0 0;
    margin-top: -20%;
  }
  .wrap-ss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  .main .second-section .wrap-ss .ss-app-icon {
    margin: 90px 0;
  }
  .main .third-section {
    height: 100%;
  }
  .main .third-section .ts-title {
    font-size: 2.5rem;
  }
  .main .third-section .list-container h3 {
    font-size: 1.8rem;
  }
  .main .third-section .condition-deal{
    display: block;
    margin: 8% auto 5% auto;
    padding: 0 20px;
  }
  .main .third-section .button-container button {
    font-size: 1.3rem;
    padding: 0 10px;
  }

  .main .forthy-section {
    height: 100%;
  }

}


/*-----------------------------------------------------------responsive for ipad*/
@media screen and  (min-width: 750px) and  (max-width: 800px) {
  /*---------------------------------------navigation button*/
  .first-next-button {
    display: none;
  }
  .second-next-button {
    display: none;
  }
  .main .second-section {
    padding: 37% 0 0 0;
    position: static;
    margin-top: -30%;
  }
  .main .second-section .wrap-ss  .ss-description {
    padding: 0 12px;
  }
  .main .second-section .wrap-ss  .ss-app-icon {
    padding: 0 12px;
  }
  .wrap-ss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  .main .second-section .wrap-ss .ss-phone {
    margin-top: 5%;
  }
  .main .second-section .wrap-ss .ss-description .text-controls-responsive {
    width: 275px;
    display: block;
    margin: 10% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .second-section .wrap-ss .ss-description .text-controls-responsive div{
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    background:#d8d8d8;
    width:10px;
    height:10px;
    border-radius:100%;
    margin-right: 4px;
  }
  .main .second-section .wrap-ss .ss-description .text-controls-responsive div:hover{
    opacity:0.36;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=36)";
    background:#000000;
    width:12px;
    height:12px;
    border-radius:100%;
    margin-right: 2px;
  }
  .main .third-section {
    position: static;
  }

}


@media screen and  (max-width: 750px) {
  /*----------------hide elemetn br for description text in header*/
  .hide {
    display: none;
  }
  /*---------------------------------------navigation button*/
  .first-next-button {
    display: none;
  }
  .second-next-button {
    display: none;
  }

  .main .header {
    background-size: cover;
    background-position-x: 50%;
  }
  .main .header .header-description {
    margin: 60% 0;
  }
  .main .header .header-description h1 {
    font-size: 1.7rem;
  }
  .main .header .header-description p {
    padding: 0 40px;
    font-size: 1.15rem;
  }
  .main .second-section {
    height: 100%;
    padding: 30% 0 0 0;
    background-size: 500% 100%;
    position: static;
    margin-top: -30%;
  }
  .wrap-ss {
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
       flex-wrap: wrap;
  }
  .main .second-section .wrap-ss .ss-container {
    padding: 0 2%;
    margin: 0 auto;
  }
  .main .second-section .wrap-ss .ss-description h1 {
    font-size: 1.5rem;
    margin-bottom: 36.5px;
    text-align: center;
  }
  .main .second-section .wrap-ss .ss-description h3 {
    font-size: 1.3rem;
    text-align: center;
  }
  .main .second-section .wrap-ss .ss-description p {
    font-size: 1.2rem;
    text-align: justify;
  }
  .main .second-section .wrap-ss .ss-phone .iphone-screen {
    display: none;
  }
  .main .second-section .wrap-ss .ss-phone .screen-1 {
    position: static;
    margin: 5% auto 10%;
    display: block;
  }
  .main .second-section .wrap-ss .ss-phone .slider-controls {
    margin: 0 5%;
  }
  .main .second-section .wrap-ss .ss-description .text-controls-responsive {
    width: 275px;
    display: block;
    margin: 10% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .second-section .wrap-ss .ss-description .text-controls-responsive div{
    opacity:0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    background: #d8d8d8;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-right: 4px;
  }
  .main .second-section .wrap-ss .ss-description .text-controls-responsive div:hover{
    opacity: 0.36;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=36)";
    background: #000000;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin-right: 2px;
  }
  .main .second-section .wrap-ss .ss-app-icon {
    margin: 15% 0;
  }
  .main .second-section .wrap-ss .ss-app-icon p {
    font-size: 1.2rem;
  }
  .main .third-section {
    height: 100%;
    position: static;
  }
  .main .third-section .ts-title {
    font-size: 1.9rem;
  }
  .main .third-section .btn-list-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .third-section .list-container {
    margin: 0 auto;
    padding: 0 2%;
    width: 92%;
    height: 100%;
  }
  .main .third-section .list-container ul li {
    margin-top: 20px;
  }
  .main .third-section .list-container h3 {
    font-size: 1.8rem;
    text-align: center;
  }
  .main .third-section .button-container {
    margin: 5% auto 0 auto;
    height: 100%;
    width: 73%;
  }
  .main .third-section .condition-deal{
    display: block;
    margin: 8% auto ;
    padding: 0 20px;
  }
  .main .third-section .button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .third-section .button-container button {
    font-size: 1.3rem;
  }

  .main .forthy-section {
    height: 100%;
  }
  .main .forthy-section .testimonials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  .main .forthy-section .testimonials-container .third-testimonial {
    margin-top: 10%;
  }
  .main .forthy-section .shares-container  h2 {
    font-size: 2rem;
  }
  .main .forthy-section .shares-container {
    margin-top: 5%;
  }
  .main .forthy-section .shares-container  .share-btns-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
          align-items: center;
  }
  .main .forthy-section .shares-container  .share-btns-container button {
    margin: 5px 25px;
  }
}

/*-----------------------------------------------------------responsive for rotate page*/
@media screen and  (max-width: 740px) and  (max-height: 450px) {
    /*----------------hide elemetn br for description text in header*/
  .hide {
    display: none;
  }
  .main .header .logo {
    width: 40%;
  }
  .main .header .header-description {
    margin: 27% 0;
  }
  .main .header .header-description h1 {
    font-size: 1.5rem;
  }
  .main .header .header-description p {
    font-size: 1.1rem;
  }
  .main .second-section {
    background-size: 669% 100%;
    position: static;
    padding: 20% 0 0 0;
  }
  .main .second-section .wrap-ss .ss-app-icon {
    margin: 15% 0 10% 0
  }
  .main .third-section {
    position: static;
  }
  .main .third-section .button-container {
    width: 53%;
  }
  .main .forthy-section .testimonials-container .third-testimonial {
    margin-top: 8%;
  }
}
